{% extends "base.html" %}

{% load static %}

{% block title %}Album{% endblock %}

{% block content %}
<div class="gallery-container fade-in">
    <h1 class="gallery-title">Imágenes</h1>
    <!-- Aquí irían tus imágenes cuando las agregues -->
    <div class="media-grid">
        
        <div class="media-card">
            <img src="{% static 'images/IMG-20250731-WA0004.jpg' %}" alt="Momento especial">
        </div>
        <div class="media-card">
            <img src="{% static 'images/IMG-20250731-WA0005.jpg' %}" alt="Momento especial">
        </div>
        <div class="media-card">
            <img src="{% static 'images/IMG-20250731-WA0006.jpg' %}" alt="Momento especial">
        </div>
        <div class="media-card">
            <img src="{% static 'images/IMG-20250731-WA0007.jpg' %}" alt="Momento especial">
        </div>
        <div class="media-card">
            <img src="{% static 'images/IMG-20250731-WA0008.jpg' %}" alt="Momento especial">
        </div>
        <div class="media-card">
            <img src="{% static 'images/IMG-20250731-WA0009.jpg' %}" alt="Momento especial">
        </div>
        <div class="media-card">
            <img src="{% static 'images/IMG-20250731-WA0010.jpg' %}" alt="Momento especial">
        </div>
        <div class="media-card">
            <img src="{% static 'images/IMG-20250731-WA0011.jpg' %}" alt="Momento especial">
        </div>
        <div class="media-card">
            <img src="{% static 'images/IMG-20250731-WA0012.jpg' %}" alt="Momento especial">
        </div>
        <div class="media-card">
            <img src="{% static 'images/IMG-20250731-WA0013.jpg' %}" alt="Momento especial">
        </div>
        <div class="media-card">
            <img src="{% static 'images/IMG-20250731-WA0014.jpg' %}" alt="Momento especial">
        </div>
        <div class="media-card">
            <img src="{% static 'images/IMG-20250731-WA0015.jpg' %}" alt="Momento especial">
        </div>
        <div class="media-card">
            <img src="{% static 'images/IMG-20250731-WA0016.jpg' %}" alt="Momento especial">
        </div>
        <div class="media-card">
            <img src="{% static 'images/IMG-20250731-WA0017.jpg' %}" alt="Momento especial">
        </div>
        <div class="media-card">
            <img src="{% static 'images/IMG-20250731-WA0018.jpg' %}" alt="Momento especial">
        </div>
        <div class="media-card">
            <img src="{% static 'images/IMG-20250731-WA0019.jpg' %}" alt="Momento especial">
        </div>
        <div class="media-card">
            <img src="{% static 'images/IMG-20250731-WA0020.jpg' %}" alt="Momento especial">
        </div>
        <div class="media-card">
            <img src="{% static 'images/IMG-20250731-WA0021.jpg' %}" alt="Momento especial">
        </div>
        
    </div>
</div>
{% endblock %}