{% extends "base.html" %}

{% block title %}Cartas{% endblock %}

{% block content %}
<div class="carta-container fade-in">
    <h1 class="carta-title">Carta</h1>
    
    <div class="carta-paper">
        <!-- Aquí puedes escribir tu carta de amor -->
        <p>Caru...</p>
        <br>
        <p>Esta WEB esta hecha para vos, para nosotros.</p>
        <br>
        <p>Con amor cree esto, me parecia una forma muy bonita de regalarte algo.</p>
        <p>Combinar lo que se hacer con lo que amo (vos).</p>
        <p>Y regalartelo, porque siempre me acompañas en todo y nunca me dejas solo.</p>
        <p>Te doy las gracias por lo que pasamos, agradezco tenerte en mi dia a dia.</p>
        <p>Cada que leas esto, imaginate que te estoy mandando millones de besos y abrazos.</p>
        <p>Te amo Caru 💘</p>
    </div>
</div>
{% endblock %}